/* 
 * Imports
 */

// Bulma
@import 'bulma';

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900|Source+Sans+Serif+Pro:600,900|Neuton');

/*
 * Styles
 */

h1 { 
  font-family: 'Source Sans Pro', serif; 
  font-weight: 900;
  line-height: 46px;
  text-transform: uppercase;
}

h4.sub-header {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
}

h1.title {
  font-weight: 900 !important;
}

.question-title {
  font-weight: 600 !important;
}

p {
  font-family: 'Source Sans Serif Pro', serif;
  line-height: 23px;
}

.hero.sp, footer {
  background-image: url('/assets/images/nb.png');
  background-repeat: repeat;
}

footer {
  color: white;
}

footer a {
  text-decoration: none;
  color: #ffdd57;
}

footer a:hover {
  text-decoration: underline;
  color: #ffdd57;
}

body {
  background-image: url('/assets/images/crossword.png');
  background-repeat: repeat;
}
