{{outlet}}
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
            Built using <a href="https://www.emberjs.com/">EmberJS</a>, <a href="https://bulma.io/">Bulma</a>, and <a href="https://www.youtube.com/user/radiohead">good</a> <a href="https://www.youtube.com/watch?v=FZ2zdtlR_QQ">music</a>.
        <br>
        <span>
          <a href="https://arvindravi.com">Arvind Ravi</a>.
        </span>      
      </p>
    </div>
  </div>
</footer>
