{{outlet}}
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
          <strong>Curiosity</strong> by <a href="https://arvindravi.com">Arvind Ravi</a>.
          Built using <a href="https://www.emberjs.com/">EmberJS</a>, <a href="https://bulma.io/">Bulma</a>, and <a href="https://www.youtube.com/user/radiohead">good</a> <a href="https://www.youtube.com/watch?v=FZ2zdtlR_QQ">music</a>.
      </p>
    </div>
  </div>
</footer>
